<!doctype html>
<html ng-app = "quizApp">

<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular-animate.js"></script>
	
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<!-- Pym.js -->
	<script src="pym.js"></script>

	<!-- Site-specific data -->
	<script src="data.json"></script>

	<!-- Site-specific styles -->
	<link rel="stylesheet" href="styles.css" />
	
	
</head>

<body ng-controller="quizController">
	<div class = "progress">
		<div class = "bar" ng-repeat="bar in progress" ng-class="{unanswered: bar.answered == false, selected: place == $index, correct: bar.correct == true, incorrect: bar.correct == false}">{{$index + 1 }}</div>
	</div>
	<div>
		<div class="question" ng-repeat="question in questions" ng-hide="place >= progress.length">
			<div class = "title">Which costs more?</div>
			
			<div class = "optionBlock" ng-repeat="option in question.options" ng-disable="question.answered">
				<div class = "or" center>or</div>
				<div class = "option" ng-click = "evaluateAnswer(option, question)" ng-class="{answered: question.answered == true, right: question.correct == true && option.clicked == true, wrong: question.correct == false && option.clicked == true}">
					<div class = "head">
						<i class="fa" ng-class="{'fa-check-circle': question.correct || question.correct == null, 'fa-times-circle': !question.correct}"></i>
						{{option["Agency Name"]}}
						<div class = "subhead">{{option["Bureau Name"]}}</div>
	
					</div>
	
					<div class = "text">
						<h1>{{option["Account Name"]}}</h1>
						<h2>
							<table>
								<tr>
									<td>Used for:</td>
									<td>{{option["Subfunction Title"]}}</td>
								</tr>
							</table>
						</h2>
						<div class = "money" ng-show="question.answered">
							<table><tr><td>${{option["2016"].formatMoney()}}</td></tr></table>
						</div>
					</div>
				
				</div>
			</div>
			
			<div class = "response" ng-show="question.answered">
				<span class="message" ng-show="question.correct">Yes!</span> <span ng-show="!question.correct">Sorry, you got it wrong.</span>
				<button class = "next" ng-show="question.readyForNext && place < progress.length - 1 " ng-click="addQuestion()">Next question</button>
				<button class = "next" ng-show="question.readyForNext && place == progress.length - 1" ng-click="finish()" >Finish</button>
			</div>
				
		</div>
	</div>
	<div class = "results" ng-show="place >= progress.length">
		<p>Your score:</p>
		<div class = "jumbotron">
			{{ correct }} / {{ total }}
		</div>
		<p>The budget items you classified make up {{ (amassed / total_budget).toString().slice(0,5) }}% of President Obama's proposed expenditures.</p><p><a href="http://www.nationaljournal.com/budget/2016-budget-obama-graphic-winners-losers" target="_blank">Here's how the budget stacks up in full</a> &mdash; and <a href="http://www.nationaljournal.com/congress/obama-s-budget-is-done-now-it-s-the-gop-s-turn-20150202" target="_blank">what will happen next</a>.</p>
		<div class = "social">
			<button class = "next" onclick="window.scrollTo(0,0); location.reload()">Play again</button>
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.nationaljournal.com/white-house/obama-budget-2016-quiz-20150204" target="_blank"><button class = "next" style="background-color: #3B5998"><i class="fa fa-facebook"></i></button></a>
			<a href="https://twitter.com/intent/tweet?original_referer=http://www.nationaljournal.com/white-house/obama-budget-2016-quiz-20150204&text=Which costs more, a year's supply of missiles or the Capitol Visitors Center? Put your budget savvy to the test:&:tw_p=tweetbutton&url=http://www.nationaljournal.com/white-house/obama-budget-2016-quiz-20150204" target="_blank"><button class = "next" style="background-color: #4099FF"><i class="fa fa-twitter"></i></button></a>
		</div>
	</div>

</body>

<!-- Site-specific scripts -->
<script src="scripts.js"></script>

<script type="text/javascript">
	var pymChild = new pym.Child();
	setInterval(function(){ pymChild.sendHeight(); console.log("Sending pym ping!") }, 250);
</script>

</html>