<!doctype html>
<html ng-app = "quizApp">

<head>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Site-specific data -->
	<script src="data.json"></script>

	<!-- Site-specific styles -->
	<link rel="stylesheet" href="styles.css" />
	
	
</head>

<body ng-controller="quizController">
	<div class="question" ng-repeat="question in questions">
		<div class = "title">Which costs more?</div>
		
		<div class = "optionBlock" ng-repeat="option in question.options">
			<div class = "option">
				<div class = "head">
					<i class="fa fa-check-circle"></i>
					{{option["Agency Name"]}}
					<div class = "subhead">{{option["Bureau Name"]}}</div>

				</div>

				<div class = "text">
					<h1>{{option["Account Name"]}}</h1>
					<h2>
						<table>
							<tr>
								<td>Used for:</td>
								<td>{{option["Subfunction Title"]}}</td>
							</tr>
						</table>
					</h2>
					<div class = "money">
						<table><tr><td>{{option["2016"]}}</td></tr></table>
					</div>
				</div>
			
			</div>
		
			<div class = "or">or</div>
		</div>
		
		<div class = "response" ng-show="question.answered">
			Yes! You're 2 for 2. 
		</div>
			
	</div>
	
	
</body>

<!-- Site-specific scripts -->
<script src="scripts.js"></script>

</html>