@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@keyframes slidein {
  from {
    margin-left: -100%; 
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%; 
  }

  to {
    margin-left: 100%;
  }
}


body {
	font-family: "Open Sans", sans-serif;
}

.progress {
	width:100%;
	text-align:center;
}

	.bar {
		width: 5.10%;
		margin-left: 1%;
		border-radius: 3px;
		height: 20px;
		display: inline-block;
		opacity: .6;
		color:#222;
		font-size:10px;
		line-height:20px;
	}
	
		.bar:first-child {
			margin-left:0;
		}
	
		.bar.selected {
			opacity: 1;
			box-shadow: 0px 0px 2px gray;
		}
		
		.bar.unanswered {
			border:1px solid #aaa;
			background-color:#fefefe;
		}
		
		.bar.correct {
			color:rgba(255,255,255,.8);
			border: 1px solid #62998F;
			background-color: #62998F;
		}
		
		.bar.incorrect {
			color:rgba(255,255,255,.8);
			border: 1px solid #952226;
			background-color: #952226;
		}
		

.title {
	font-size: 23pt;
	text-align: center;
	font-weight: 100;
	margin:20px 0px 30px;	
}

.question {
	position:relative;
	top:0;
	left:0;
	bottom-bottom: 1px solid #aaa;
	margin-bottom:50px;
	padding-bottom:50px;
	width:100%;
	display:none;
}

.question:last-of-type {
	border:0;
	padding:0;
	left:0;
	display:block;
}

.optionBlock {
	display: inline;
	
}

.option {
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #f3f3f3;
	box-shadow: 0px 0px 5px #bbb;
	width: 44.2%;
	display:inline-block;
	vertical-align:top;
	position:relative;
}
	.option:hover{
		background-color: #eee;
		box-shadow: 0px 0px 5px #888;
		cursor:pointer;
	}
	
	.option.answered {
		background-color: white;
	}
	
	.option .head {
		background-color: #267EC1;
		opacity:.8;
		padding: 7px 1.5%;
		font-weight: 900;
		color: white;
	}
		.option:hover .head{
			opacity: 1;
		}
	
			.option .head .subhead {
				font-weight: 100;	
			}
		
			.option .head i {
				float: right;
				display: inline-block;
				font-size: 32pt;
				margin-right: 2px;
				transition:all .2s;
				opacity: 0;
			}
			
				.option:hover .head i {
					opacity: 1;
				}
		
		.option .text {
			margin: 15px 0px;
			position:relative;
		}
		
		.option .text h1 {
			font-weight: 400;
			padding: 0px 2%;
			margin: 0px;
			line-height: 1.1em;
			
		}
		
		.option .text h2 {
			font-size: 14pt;
			margin-top: 5px;
			font-weight: 100;
			border-top: 1px solid gray;
			width: 96%;
			margin: 10px auto;
			padding: 7px 0px;
		}
		
			.option .text h2 td:first-child{
				min-width: 85px;
				vertical-align:top;
				font-weight:600;
			}
			
	.option .text .money {
		position:absolute;
		width:100%;
		height:100%;
		text-align:center;
		font-size:25pt;
		background-color:rgba(255,255,255,.9);
		top:0;
		left:0;
		font-weight:900;
	}
	
		.option .text .money table {
			width:100%;
			height:100%;
			
		}
	
	.option.wrong{
		
	}	
	
	.option.right {
		
		
	}
	
		.option.right .head, .option.wrong .head{
			opacity:1;

		}
	
		.option.wrong .head {
			background-color: #952226;
		}
		
		.option.right .head {
			background-color: #62998F;
		}
		
			.option.wrong .head i, .option.right .head i{
				opacity:1;
			}
	
.or {
	display: inline-block;
	font-size: 20pt;
	width: 10%;
	text-align: center;
	font-weight: 100;
}

	.optionBlock:nth-child(2) .or {
		display: none;
	}
	
.response {
	text-align: center;
	padding:30px 0px 0px;
	font-size:20pt;
	font-weight:900;
	
}

.next{
	font-family: "Open Sans", sans-serif;
	border:0;
	display:inline-block;
	font-size: 14pt;
	background-color: #76B6E3;
	padding: 10px;
	color: white;
	margin-left: 10px;
	opacity:.8;
	width:152px;
	height:50px;
	transition:.5s all;
	white-space: nowrap;
	font-weight:900;
}
	.next:hover{
		opacity:1;
		cursor:pointer;
	}
	
	.next.ng-hide {
		opacity:0;
		width:0px;

	}

.results{

}

	.results p {
		text-align: center;
		font-weight: 900;
		font-size: 14pt;
		max-width:500px;
		margin:20px auto;
	}
	
		.results p a {
			color: #145786;
			text-decoration:none;
		}
		
			.results p a:hover {
				text-decoration:underline;
			}
	
	.results .jumbotron {
		text-align: center;
		font-size: 150pt;
		font-weight: 900;
		line-height: 1em;
	}
	
	.results .social {
		margin:auto;
		text-align:Center
	}
	
@media screen and (max-width: 800px) {

	.title {
		margin: 10px 0px 15px;
		font-size:19pt
	}

	.option {
		width:100%;
		display:block;
	}
	
	.or {
		width:100%;
		height:auto !important;
		line-height: 1em !important;
		margin:10px auto;
		font-size:15pt;
	}

	.option .text h1 {
		font-size:16pt;
	}
	
	.option .text h2 {
		font-size:13pt;
	}

	.subhead {
		display:inline;
	}
	
		.subhead:before {
			content:" | ";
		}
	
	.option .head i {
		font-size:18pt;
	}
	
	.response {
		font-size:13pt;
	}
	
	.next {
		display:block;
		width:96%;
		margin:10px auto 0
	}
	
	.results .jumbotron {
		font-size: 35pt;
	}
	
	
}